run/
classes/
eclipse/
out/
*.txt
.gradle/
.idea/
GTTweaker.iml
GTTweaker.ipr
GTTweaker.iws
Idea.bat
SetupDevWorkspaces.bat
SetupWorkspaces.bat
*.bat
Minetweakergt5addon.iws
Minetweakergt5addon.ipr
Minetweakergt5addon.iml
